<footer>
    <div class="logo-wrapper">
            <a class="svg-logo" asp-page="/Index"><img src="assets/Imagenes/LogoMascotaFeliz.svg" alt="Paws logo"></a>
            <a class="text-logo" asp-page="/Index">Pawmi</a>
    </div>

    <div class="options-wrapper">
        <div class="copy" style="float:right">&copy; 2022 Pawmi.</div>
        <hr>
        <li><a asp-page="/Terminos">Términos y Condiciones</a></li>
        <hr>
        <li><a asp-page="/Privacidad">Política de Privacidad</a></li>
        <hr>
        <li><a asp-page="/Accesibilidad">Accesibilidad</a></li>
    </div>
    
</footer>