<div class="contenido">
    <div class="title-container">
        <h1>Listado de Usuarios</h1>
    </div> 
    <hr>
    <div *ngIf="esAdmin || esAsesor" class="button-box">
        <button routerLink="/inicio"><i class="arrow-left"></i>Volver</button>
        <button routerLink="/admin/crear-usuario">Registrar Nuevo Usuario<i class="arrow-right"></i></button>
    </div>
    <div *ngIf="!esAdmin && !esAsesor" class="button-box">
        <button class="long-btn" routerLink="/inicio"><i class="arrow-left"></i>Volver</button>
    </div>
    <hr>
    <div class="div-tabla">
        <table>
            <thead>
                <tr>
                    <th>
                        Rol
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Apellidos
                    </th>
                    <th>
                        Cédula
                    </th>
                    <th>
                        Teléfono
                    </th>
                    <th>
                        Correo
                    </th>
                    <th style="min-width: 200px;">
                        Opciones
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of listadoUsuarios">
                    <td>
                        {{p.rol}}
                    </td>
                    <td>
                        {{p.nombre}}
                    </td>
                    <td>
                        {{p.apellidos}}
                    </td>
                    <td>
                        {{p.cedula}}
                    </td>
                    <td>
                        {{p.telefono}}
                    </td>
                    <td>
                        {{p.correo}}
                    </td>
                    <td style="min-width: 200px;">
                        <div class="button-box">
                            <button class="long-btn" routerLink="/admin/editar-usuario/{{p.id}}">Editar</button>
                            <button *ngIf="!esAdmin && !esAsesor" class="long-btn" routerLink="/admin/consultar-mascota">Ver Mascotas</button>
                            <button *ngIf="esAdmin || esAsesor" class="long-btn" routerLink="/admin/filtrar-mascota/{{p.id}}">Ver Mascotas</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
</div>