<div class="flex-contenido">
    <div class="flex-column-1">
            <img class="bg-image-1" src="assets/Imagenes/Background-image-1.png" alt="">
    </div>
    <div class="flex-column-2">
        
        

        <div class="contenido-a">
            <h1>Pawmi</h1>
            <h2>¡Veterinario en su hogar!</h2>
            <br>
            <h3 style="font-size: 1.3em;"><b>¡Bienvenido!</b></h3>
            <h3 style="font-size: 1.3em;">Si aún no tienes una cuenta</h3>
            <div class="button-box">
                <a type="button" href="#S1" style="width: 100%; margin-bottom: 20px;">Registrate<i class="arrow-right"></i></a>
            </div>
            <h3 style="font-size: 1.3em;">ó</h3>
            <div class="button-box">
                <a type="button" href="#S1" style="width: 100%; margin-bottom: 20px;">Inicia Sesión<i class="arrow-right"></i></a>
            </div>
        </div>  
    </div>
</div>


<div class="contenido" style="background-color: #02AD9D;box-shadow: 0px 0px 10px 0px #3d2f2c;padding-top: 10px;padding-bottom: 10px" id="S0">
    <div class="arrow-container">
        <h2 style="color: #FFFFFF;">Desplázate hacia abajo para conocer más<i class="arrow-down"></i></h2>
    </div>
    
</div>

<div class="flex-contenido-2" style="background-color: #FAC43D;" id="S1">
    <div class="contenido" style="padding-top: 40px;padding-bottom: 60px">
        <div class="title-container">
            <h1 style="font-size: 5em;">Misión</h1>
        </div> 
        
        <p class="sub-text" >Ofrecermos bienestar tanto animal, como a las familias de nuestros pacientes a través de la 
            prestación de servicios médicos veterinarios y complementarios, entregando calidad y satisfacción, 
            contribuyendo a la innovación y desarrollo profesional del sector Médico Veterinario de la Región.
            <br><br>
            En "Pawmi" nos inclinamos por mantener la salud de las mascotas en perfecto estado, buscando así el 
            bienestar de los que actualmente son considerados miembros importantes de la familia, mediante la 
            óptima y oportunidad atención con compromiso y actitud ética ante nuestros pacientes y sus propietarios.
        </p>
        <br>
        <hr class="hr-2">
    </div> 
</div>

<div class="flex-contenido-2" style="background-color: #FC6F42;" id="S2">
    <div class="contenido" style="padding-top: 40px;padding-bottom: 60px">
        <div class="title-container">
            <h1 style="font-size: 5em;color: #FFFFFF;">Visión</h1>
        </div> 
        
        <p class="sub-text" style="color:#FFFFFF;">Ofrecermos bienestar tanto animal, como a las familias de nuestros pacientes a través de la 
            prestación de servicios médicos veterinarios y complementarios, entregando calidad y satisfacción, 
            contribuyendo a la innovación y desarrollo profesional del sector Médico Veterinario de la Región.
            <br><br>
            En "Pawmi" nos inclinamos por mantener la salud de las mascotas en perfecto estado, buscando así el 
            bienestar de los que actualmente son considerados miembros importantes de la familia, mediante la 
            óptima y oportunidad atención con compromiso y actitud ética ante nuestros pacientes y sus propietarios.
        </p>
        <br>
        <hr class="hr-3">
    </div> 
</div>

<div class="flex-contenido-2" style="background-color: #FFFFFF;" id="S2">
    <div class="contenido" style="padding-top: 40px;padding-bottom: 60px">
        <div class="title-container">
            <h1 class="plan-titulo">Planes de Salud Preventiva</h1>
        </div> 
        <br>
        <div class="plan-div">
            <div class="plan-unit" >
                <hr class="hr-4">
                <h1 style="font-size: 2em;height: 3em;background-color: #FFFFFF;color: #3d2f2c;text-align: center;">Plan Pawmi <br> Básico</h1>
                <h1 style="font-size: 2em;background-color: #02AD9D;color: #FFFFFF;text-align: center;">$60 mil</h1>
                <div style="padding: 8px;">
                    <h3 style="color:#3d2f2c;padding-bottom: 0.5em;">Todo lo necesario para mantener a tu mascota feliz:</h3>
                    <br>
                    <h3 style="color:#3d2f2c;padding-bottom: 0.5em;">-Paquete Vacunación</h3>
                    <h3 style="color:#3d2f2c;padding-bottom: 0.5em;">-Paquete de Desparasitación</h3>
                    <h3 style="color:#3d2f2c;padding-bottom: 0.5em;">-Consulta De Control y Seguimiento</h3>
                    <h3 style="color:#3d2f2c;padding-bottom: 0.5em;">-Implante de Microchip</h3>
                </div>
                <hr class="hr-4">

            </div>
            <br>
            <div class="plan-unit">
                <hr class="hr-5">
                <h1 style="font-size: 2em;height: 3em;background-color: #FFFFFF;color: #3d2f2c;text-align: center;">Plan Pawmi <br> Preventivo</h1>
                <h1 style="font-size: 2em;background-color: #1ab759;color: #FFFFFF;text-align: center;">$75 mil</h1>
                <div style="padding: 8px;">
                    <h3 style="color:#3d2f2c;padding-bottom: 0.5em;">Todos los beneficios del Plan Básico y además:</h3>
                    <br>
                    <h3 style="color:#3d2f2c;padding-bottom: 0.5em;">-Paquete de Laboratorios Especiales</h3>
                    <h3 style="color:#3d2f2c;padding-bottom: 0.5em;">-Certificados De Salud</h3>
                </div>
                <hr class="hr-5">

            </div>
            <br>
            <div class="plan-unit">
                <hr class="hr-6">
                <h1 style="font-size: 2em;height: 3em;background-color: #FFFFFF;color: #3d2f2c;text-align: center;">Plan Pawmi <br> Plus</h1>
                <h1 style="font-size: 2em;background-color: #FAC43D;color: #FFFFFF;text-align: center;">$120 mil</h1>
                <div style="padding: 8px;">
                    <h3 style="color:#3d2f2c;padding-bottom: 0.5em;">Todos los beneficios de los Planes Básico y Preventivo, y además:</h3>
                    <br>
                    <h3 style="color:#3d2f2c;padding-bottom: 0.5em;">-Consultas Diurnas Festivo / Dominical</h3>
                    <h3 style="color:#3d2f2c;padding-bottom: 0.5em;">-Consultas Nocturnas y Especialista</h3>
                    <h3 style="color:#3d2f2c;padding-bottom: 0.5em;">-Asesoría Telefónica 24 Horas</h3>
                    <h3 style="color:#3d2f2c;padding-bottom: 0.5em;">-Diagnóstico por Imagen y Ecografía</h3>
                    <h3 style="color:#3d2f2c;padding-bottom: 0.5em;">-Procedimientos y Hospitalización</h3>
                </div>
                <hr class="hr-6">

            </div>
        </div>
        <br>
        <hr class="hr-4">
    </div> 
</div>

<div class="contenido" style="background-color: #b79087;padding-top: 40px;padding-bottom: 60px" id="S4">

    <div class="title-container">
        <h1 class="plan-titulo" style="color: #3d2f2c;">Contáctenos</h1>
    </div> 
    
    <div class="form-container">
        <form [formGroup]="fgValidador" (ngSubmit)="EnviarMensaje()">
                <div class="details-box">
                    <div class="input-box-2">
                        <span class="details">Nombre*</span>
                        <input type="text" formControlName="nombre" placeholder="Ingrese su nombre" required>
                    </div>

                    <div class="input-box-2">
                        <span class="details">Apellidos*</span>
                        <input type="text" formControlName="apellidos" placeholder="Ingrese sus apellidos" required>
                    </div>

                    <div class="input-box-2">
                        <span class="details">Correo*</span>
                        <input type="email" formControlName="correo" placeholder="Ingrese su correo" required>
                    </div>
                    
                    <div class="input-box-2">
                        <span class="details">Teléfono*</span>
                        <input type="text" formControlName="celular" placeholder="Ingrese su número de teléfono celular" required>
                    </div>
                </div>
                <div>
                    <div class="details-box">
                        <div class="text-box">
                            <span class="details">Mensaje*</span>
                            <textarea formControlName="mensaje" placeholder="Ingrese el mensaje que desea enviar" required></textarea>
                        </div>
                    </div>
                
                </div>

                <div class="button-box">
                    <button class="long-btn" [disabled]="!fgValidador.valid" type="submit">Enviar<i class="arrow-right"></i></button>
                </div> 
        </form>
    </div>
    <br>
    <hr class="hr-2">
</div>